@media (max-width: 1200px) {
    .box{
        height: 350px;
    }
}
@media (max-width: 992px) {
    .box{
        height: 350px;
    }
}
@media (max-width: 768px) {
    .box{
        height: 380px;
    }
 .timeline:before{
     left: 50%;
 }
}
@media (max-width: 540px) {
    .box{
        height: 410px;
    }

}